@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>Per Friis</h3>

<address>
    Frøslevvej 64<br />
    DK-2610 Rødovre<br />
    <abbr title="Mobile phone">P:</abbr>
    +45 4045 8981
</address>

<address>
    <strong>contact:</strong> <a href="mailto:jper.friis@friisconsult.com">per.friis@friisconsult.com</a>
</address>
